body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f0051;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
}

.tvshow{
    background-color: white;
    color: #672dd1; 
    border-radius: 10px;
}

.tvshow img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.desc {
    padding: 2rem;
}

h1 {
    text-align: left;
    width: 100%;
}

textarea {
    width: 100%;
    margin: 1% 0;
    border-radius: 10px;
    height: 60px;
}

.reviewForm > input {
    margin: 1% 0;
    border-radius: 10px;
    height: 40px;
}

.reviewForm > button {
    margin: 1% 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    display: block;
}

.reviews {
    width: 100%;
    justify-content: left;
}

.review {
    background-color: #381484;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 3rem;
    margin: 2% 0;
    border-radius: 15px;
}

.review button {
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 20px;
}